<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About-Us</title>
    <style>
      .digiimage{
      display:flex;
      text-align:center;
      justify-content:space-between;
      margin-top:8px;
      margin-bottom:8px;
    }

      .mycontainer {
          max-width: 600px;
          margin-top: 200px;
          margin-bottom: 100px;
          margin-right: auto;
          margin-left: auto;
      }
      .form-container {
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
  </style>
    <!-- <link rel="stylesheet" href="/static/css/quicklink.css"> -->
    <link
      rel="stylesheet"
      href="/static/css/style.css"
    />
    <link rel="icon" type="image/png" href="/static/images/logo.png" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <!-- AOS Animation -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- AOS Animation END-->
  </head>
  <body>
    <div class="sticky-social">
      <ul class="social">
        <!-- <li class="fb">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li class="twitter">
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </li>
        <li class="insta">
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li> -->
        <li class="pin">
          <a
            href="https://youtube.com/playlist?list=PLPKm0BG9iYp0rajdNT32nmYlCrFmfrs00&si=HhrFdZGkwzF9oIee"
            ><i class="fa-brands fa-youtube"></i
          ></a>
        </li>
        <li class="vim">
          <a href="https://www.linkedin.com/company/tansam/"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
      </ul>
    </div>
    <button onclick="topFunction()" class="upbtn" id="mybtn">
      <i class="bx bxs-up-arrow"></i>
    </button>
    <header>
        <nav>
          <div class="navbar">
              <i class='bx bx-menu'></i>
              <div class="logo">
                  <img src="/static/images/logo.png" alt="logo" height="70">
                  <div class="company">
                      <a href="index.html">TANSAM</a>
                      <p>Powered by <span>SIEMENS</span></p>
                  </div>
              </div>
              <div class="nav-links">
                  <div class="sidebar-logo">
                      <span class="logo-name">Menu</span>
                      <i class='bx bx-x'></i>
                  </div>
                  <ul class="links">
                      <li><a href="index.html">Home</a></li>
                      <li>
                          <a href="#">Solutions</a>
                          <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
                          <ul class="htmlCss-sub-menu sub-menu">
                              <li><a href="pdinnov.html">Product Innovation</a></li>
                              
                              <li><a href="innovmanu.html">Innovative Manufacturing</a></li>
                              <li><a href="reverse.html">Reverse Engineering</a></li>
                              <li><a href="digitwin.html">Digital Twin (Smart Factory)</a></li>
                              <li><a href="iot.html">Industrial IoT</a></li>
                              <li><a href="digitaltechnology.html">Digital Technology</a></li>
                              <li><a href="arvr.html">Augmented Reality</a></li>
                              <li><a href="aipage.html">AI & ML</a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="#">Training</a>
                          <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
                          <ul class="htmlCss-sub-menu sub-menu">
                              <li><a href="nanmudhaval.html">Naan Mudhalvan</a></li>
                          </ul>
                      </li>
                      <li>
                          <a href="#">News and Media</a>
                          <i class='bx bxs-chevron-down htmlcss-arrow arrow'></i>
                          <ul class="htmlCss-sub-menu sub-menu">
                              <li>
                                  <a href="#">Events<i class="fa-solid fa-angle-right" style="margin-left: 10px;"></i></a>
                                  <ul class="sub-menu more-sub-menu ">
                                      <li><a href="hackathonevent.html">Hackathon</a></li>
                                      <li><a href="tansamgallery.html">Center Visits</a></li>
                                      <li><a href="hackathongallery.html">Outreach Activities</a></li>
                                  </ul>
                              </li>
                              <li><a href="">Social Media</a></li>
                              <li><a href="">News and Articles</a></li>
                          </ul>
                      </li>
                      <li><a href="download.html">Downloads</a></li>
                      <li><a href="aboutus.html">About Us</a></li>
                      <li><a href="contactus.html">Contact Us</a></li>
                  </ul>
              </div>
          </div>
      </nav>
      
      
      </header>

    <br>
    <section class="blog-full">
      <div class="bloglinks reveal">
        <a href="index.html">Home</a>
        <i class='bx bx-chevron-right'></i>
        <a href="blogsdetails.html">About US</a>
        <i class='bx bx-chevron-right'></i>
        <a href="blogsdetails.html">ABOUT TANSAM</a>
      </div>
      <div class="alldetails reveal">
      <div class="blogheader">
        <h1>ABOUT TANSAM</h1>
        <div class="blogdet">
        <div class="date">
        <!---  <p>Posted on 12th October 2021</p> -->
        </div>
        <div class="content">
          <p>
            Tamil Nadu Industrial Development Corporation (TIDCO) to establish <span >The Tamil Nadu Smart and Advanced Manufacturing Centre (TANSAM) </span>at the TIDEL Park, Chennai. A first of its kind Center of Excellence (CoE) in India, TANSAM will provide a dedicated IT engineering ecosystem to support the Micro, Small & Medium Enterprises (MSME) sector and students across Tamil Nadu, and enable the growth of industries such as Aerospace, Defense, Automotive and Electric vehicles.
    
    Dassault Systèmes has signed a Memorandum of Understanding (MoU) with Tamil Nadu Industrial Development Corporation (TIDCO).</p>
        </div>
    
        <div class="content">
          <h3>ABOUT SIEMENS SYSTEMS</h3>
          <p>The Tamil Nadu Smart and Advanced Manufacturing Centre (TANSAM) provides SMBs and students with the complete Siemens Xcelerator portfolio of solutions and services, giving them access to technology they could not otherwise afford. In its short existence, the center is already accelerating industrial innovation and driving economic growth by bringing newfound digitalization and automation capabilities to the area. </p>
        </div>
        <div class="content">
        <p>
          The center is a joint project between Siemens, the Tamil Nadu government and Tamilnadu Industrial Development Corporation. Its vision is to incubate innovative start-ups and provide Industry 4.0 training to engineering students. After its grand opening in November 2022 — in which Tamil Nadu Chief Minister M.K. Stalin officiated its inauguration — the center quickly attracted many aspiring learners. In less than a year, it has already trained more than 16,000 students, 700 professors and improved product development for over 2,000 SMBs and hopes to reach a half million students taught by the end of next year.
    Siemens Partner Broadline Computer Systems, which has a focus on providing Siemens software for academic purposes, drove the implementation of Siemens technologies in the center alongside Siemens’ sales, presales and business development teams. Broadline Computer Systems, headquartered in Tamil Nadu, helps staff and provides ongoing support for the center, adding a local, grassroots flair to the TANSAM endeavor.
        </p>
      </div>
      <div class="content">
        <h4>TANSAM recognized as a WvS award finalist</h4>
        <p>TANSAM’s meteoric ascent to its status as a resource and beacon of hope has landed it as a top-3 finalist for this year’s Werner von Siemens (WvS) award “Siemens Matters” category under the entry “Non-Profit Collaboration: Embracing Industry 4.0.” The WvS Siemens Matters award is given for projects that provide access to technology and education and that sustain communities by:
    
          Positively impacting society and the environment
          Promoting responsible business practices
          Going beyond our business activities and financial performance
          The TANSAM center’s contributions and tremendous impact on the people of Tamil Nadu clearly merit its inclusion as a WvS award finalist. Other finalists in the category are “Creating a Home for Ukrainian Refugees,” which created a home in Poland for 160 refugees displaced by the war in Ukraine and “Empowered Communities: Digitalizing Aid with Mendix,” which developed low-code apps to help the Make A Wish organization overcome devastating setbacks caused by flooding in Germany and war in Ukraine.
          
          While winning the award would bestow even more prestige, the real takeaway should be the good that the TANSAM center is creating. The same can be said for the other finalists in the Siemens Matters category.
          
          This year, the WvS awards expanded from four to five categories. In addition to Siemens Matters, the other four categories include Customer Impact, Siemens Xcelerator, People, and Technology with Purpose.
          
          Tune into the WvS Awards on Wednesday, October 18, from 5 to 7 p.m. (CEST), where you can cast your vote for the most deserving finalists.</p>
      </div>
      <!-- <div class="content">
        <h4>Our Trusted Company MoU Collabrator</h4> 
        <div class="content2.0">
          <div class="partner-logos">
            <div class="partner-logo"><img src="./srcimage/Ramachandra.png" alt="Partner 1" style="text-align: center;"></div>
            <div class="partner-logo"><img src="partner2.jpg" alt="Partner 2"></div>
            <div class="partner-logo"><img src="partner3.jpg" alt="Partner 3"></div>
    
          </div>
        </div>
      </div> -->
    </div>
        </div>
      </div>
      
    </section>
 
    
    
    <footer>
        <section class="footer">
            <div class="box-container">
                <div class="box reveal">
                    <h3>Quick Links</h3>
                    <a href="#home"><i class="fas fa-arrow-right"></i>Home</a>
                    <a href="{{url_for('quicklinks')}}"><i class="fas fa-arrow-right"></i>Services</a>
                    <a href="#contact"><i class="fas fa-arrow-right"></i>Scale Programs</a>
                    <a href="{{url_for('aboutus')}}"><i class="fas fa-arrow-right"></i>About Us</a>
                </div>
                <div class="box reveal">
                    <h3>Reach Us</h3>
                    <a href="#"><i class="fa-solid fa-phone-volume"></i>+91 96000 91359 | 98840 35145 </a>
                    <a href="#"><i class="fas fa-envelope"></i>info@tansam.org | nateshc@tansam.org </a>
                    <a href="https://maps.app.goo.gl/EhRuHSQBzVtNLoaN9"><i class="fas fa-map-marker-alt"></i>Tamil Nadu Smart and Advanced Manufacturing Centre
                      6th Floor C Wing North, Tidel Park, Rajiv Gandhi Salai,
                      Taramani, Chennai-600113 , Tamil Nadu.</a>
                </div>
                <div class="box reveal">
                    <h3>Social Media</h3>
                    <a href="#"><i class="fa-brands fa-square-facebook"></i>Facebook</a>
                    <a href="https://twitter.com/TANSAM2022"><i class="fa-brands fa-square-x-twitter"></i>X</a>
                    <a href="#"><i class="fa-brands fa-square-instagram"></i>Instagram</a>
                    <a href="https://www.linkedin.com/company/tansam/"><i class="fa-brands fa-linkedin"></i>Linkedin</a>
                </div>
            </div>
            <h1 class="credit">Copyright © 2024 TANSAM. All Rights Reserved.Created By <span>TANSAM IT DEPARTMENT</span>
          </section>
    </footer>
    <script src="/static/js/script.js"></script>

  <script>
    let mybutton = document.getElementById("mybtn"); // Corrected ID

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction();
    };

    function scrollFunction() {
      if (
        document.body.scrollTop > 100 ||
        document.documentElement.scrollTop > 100
      ) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollIntoView({ behaviour: "smooth" });
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
  </script>
   <script>
    AOS.init();
  </script>
  </body>
  
</html>
